In [1]:
import pandas as pd

In [3]:
pu = pd.read_csv("private_uni_cleaned.csv")

In [4]:
pu

,Unnamed: 0,University Name,Website,Year Established,Fees,State,Region
0,0,"Wigwe University, Isiokpo Rivers State",https://www.wigweuniversity.edu.ng/fees/,2023,15083100.0,Rivers,South-South
1,1,"Skyline University, Kano",https://www.sun.edu.ng,2018,4585929.0,Kano,North-West
2,2,"American University of Nigeria, Yola",https://www.aun.edu.ng,2003,3866904.0,Adamawa,North-East
3,3,"Pan-Atlantic University, Lagos",https://www.pau.edu.ng,2002,3613017.0,Lagos,South-West
4,4,"Elrazi Medical University Yargaya University, ...",https://elrazi.edu.ng/fees/,2023,3103333.0,Kano,North-West
...,...,...,...,...,...,...,...
124,124,"Al-Qalam University, Katsina",https://www.auk.edu.ng,2005,237479.0,Katsina,North-West
125,125,"Sam Maris University, Ondo",https://smu.edu.ng/index.php/contents/fees-str...,2023,225000.0,Ondo,South-West
126,126,"Kwararafa University, Wukari",https://www.kuw.edu.ng/,2005,170000.0,Taraba,North-East
127,127,"Al-Muhibbah Open University, Abuja",https://aou.edu.ng/tuition,2023,105000.0,FCT Abuja,North-Central
128,128,"Iconic Open University, Sokoto State.",https://www.iconicuniversity.edu.ng/,2023,70833.0,Sokoto,North-West

In [5]:
pu['University Name'] = pu["University Name"].apply(lambda x: x.split(',')[0])
pu

,Unnamed: 0,University Name,Website,Year Established,Fees,State,Region
0,0,Wigwe University,https://www.wigweuniversity.edu.ng/fees/,2023,15083100.0,Rivers,South-South
1,1,Skyline University,https://www.sun.edu.ng,2018,4585929.0,Kano,North-West
2,2,American University of Nigeria,https://www.aun.edu.ng,2003,3866904.0,Adamawa,North-East
3,3,Pan-Atlantic University,https://www.pau.edu.ng,2002,3613017.0,Lagos,South-West
4,4,Elrazi Medical University Yargaya University,https://elrazi.edu.ng/fees/,2023,3103333.0,Kano,North-West
...,...,...,...,...,...,...,...
124,124,Al-Qalam University,https://www.auk.edu.ng,2005,237479.0,Katsina,North-West
125,125,Sam Maris University,https://smu.edu.ng/index.php/contents/fees-str...,2023,225000.0,Ondo,South-West
126,126,Kwararafa University,https://www.kuw.edu.ng/,2005,170000.0,Taraba,North-East
127,127,Al-Muhibbah Open University,https://aou.edu.ng/tuition,2023,105000.0,FCT Abuja,North-Central
128,128,Iconic Open University,https://www.iconicuniversity.edu.ng/,2023,70833.0,Sokoto,North-West

In [6]:
pu_reset = pu.reset_index(drop=True)

pu_reset.to_csv("private_uni_cleaned2.csv")